* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: rgb(15, 15, 36);
  margin: auto;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50px;
  height: auto;
}
.logo h3 {
  font-size: medium;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  padding: 7px;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: aliceblue;
}
#Profile {
  color: black;
  background-color: #fad97e;
  padding: 6px 10px;
  height: auto;
  border-radius: 5px;
}
.origin {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  /* margin: 70px; */
  gap: 5%;
}
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  padding: 5%;
}
.x span {
  color: #fac431;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 50%;
}
.total span {
  color: #fac431;
}
.x {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left h1 {
  margin-bottom: 10px;
}
.left p {
  margin-bottom: 10px;
}

button {
  /* width: 50%; */
  background-color: #fad97e;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.vdandmore {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.right {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.right img {
  width: 75%;
}
.left1 {
  width: 45%;
}
.left1 h3 {
  width: 50%;
  color: aliceblue;
  margin: 70px;
}
.left1 iframe {
  margin: 70px;
  display: flex;
  flex-direction: row;
  margin-top: 0%;
}
.right1 h3 {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  width: 45%;
  color: aliceblue;
  margin: 70px;
}
.right1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
}
.imglist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.imglist img {
  width: 30%;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: aliceblue;
  width: 90%;
  margin: auto;
}
.summary h2 {
  margin-bottom: 10px;
}
.summary p {
  margin-top: 10px;
}
footer {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(15, 15, 36);
  color: #fff;
  font-size: 14px;
  border-top: 1px solid #333;

}
footer {
  text-align: center;
  padding: 15px 0;
  background-color: rgb(15, 15, 36);
  color: #fff;
  font-size: 14px;
  border-top: 1px solid #333;

}
@media screen and (max-width: 768px) {
  .vdandmore {
    flex-direction: column;
  }
}
