body {
    background-color: rgb(15, 15, 36);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.whole2 {
    display: flex;
    height: 100vh;
    width: 100%;
}


.main2 {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.main2 h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main2 h4 {
    margin: 5px 0;
    font-weight: normal;
}

p {
    color: #ccc;
}


input {
    width: 70%;  
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}


button {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #ddd;
}


.img2 {
    width: 50%;
    height: 100vh;  
    overflow: hidden;
}

.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 0;
}
